.btn{
    color: #ffffff;
    background-color: #4b5480;
    font-size: 1rem;
    width: 100px;
    border-radius: 5px;
    padding: 4px;
}

.btn:hover{
    cursor: pointer;
}

.del-action-btn{
    color: #ffffff;
    background-color: #eb6530;
    font-size: 1rem;
    width: 100px;
    border-radius: 5px;
    padding: 4px;
}

.del-action-btn:hover{
    cursor: pointer;
}

.row .mat-form-field{
    width: 40%;
    margin: 4px auto;
}

.btns{
    margin-left: 40px;
}